@media screen and (prefers-color-scheme: light) {
    :root {
        --background: hsla(0, 0%, 100%, 1);
        --background-active: rgba(141, 141, 141, 0.5);
        --background-brand: hsla(219, 99%, 53%, 1);
        --background-hover: rgba(141, 141, 141, 0.12);
        --background-inverse: hsla(0, 0%, 22%, 1);
        --background-inverse-hover: hsla(0, 0%, 28%, 1);
        --background-selected: rgba(141, 141, 141, 0.2);
        --background-selected-hover: rgba(141, 141, 141, 0.32);
        --border-disabled: hsla(0, 0%, 78%, 1);
        --border-interactive: hsla(219, 99%, 53%, 1);
        --border-inverse: hsla(0, 0%, 9%, 1);
        --border-strong-01: hsla(0, 0%, 55%, 1);
        --border-strong-02: hsla(0, 0%, 55%, 1);
        --border-strong-03: hsla(0, 0%, 55%, 1);
        --border-subtle-00: hsla(0, 0%, 88%, 1);
        --border-subtle-01: hsla(0, 0%, 88%, 1);
        --border-subtle-02: hsla(0, 0%, 88%, 1);
        --border-subtle-03: hsla(0, 0%, 88%, 1);
        --border-subtle-selected-01: hsla(0, 0%, 78%, 1);
        --border-subtle-selected-02: hsla(0, 0%, 78%, 1);
        --border-subtle-selected-03: hsla(0, 0%, 78%, 1);
        --border-tile-01: hsla(0, 0%, 78%, 1);
        --border-tile-02: hsla(0, 0%, 66%, 1);
        --border-tile-03: hsla(0, 0%, 78%, 1);
        --field-01: hsla(0, 0%, 96%, 1);
        --field-02: hsla(0, 0%, 100%, 1);
        --field-03: hsla(0, 0%, 96%, 1);
        --field-hover-01: hsla(0, 0%, 91%, 1);
        --field-hover-02: hsla(0, 0%, 91%, 1);
        --field-hover-03: hsla(0, 0%, 91%, 1);
        --focus: hsla(219, 99%, 53%, 1);
        --focus-inset: hsla(0, 0%, 100%, 1);
        --focus-inverse: hsla(0, 0%, 100%, 1);
        --highlight: hsla(217, 100%, 91%, 1);
        --icon-disabled: rgba(22, 22, 22, 0.25);
        --icon-inverse: hsla(0, 0%, 100%, 1);
        --icon-on-color: hsla(0, 0%, 100%, 1);
        --icon-on-color-disabled: hsla(0, 0%, 55%, 1);
        --icon-primary: hsla(0, 0%, 9%, 1);
        --icon-secondary: hsla(0, 0%, 32%, 1);
        --interactive: hsla(219, 99%, 53%, 1);
        --layer-01: hsla(0, 0%, 96%, 1);
        --layer-02: hsla(0, 0%, 100%, 1);
        --layer-03: hsla(0, 0%, 96%, 1);
        --layer-accent-01: hsla(0, 0%, 88%, 1);
        --layer-accent-02: hsla(0, 0%, 88%, 1);
        --layer-accent-03: hsla(0, 0%, 88%, 1);
        --layer-accent-active-01: hsla(0, 0%, 66%, 1);
        --layer-accent-active-02: hsla(0, 0%, 66%, 1);
        --layer-accent-active-03: hsla(0, 0%, 66%, 1);
        --layer-accent-hover-01: hsla(0, 0%, 82%, 1);
        --layer-accent-hover-02: hsla(0, 0%, 82%, 1);
        --layer-accent-hover-03: hsla(0, 0%, 82%, 1);
        --layer-active-01: hsla(0, 0%, 78%, 1);
        --layer-active-02: hsla(0, 0%, 78%, 1);
        --layer-active-03: hsla(0, 0%, 78%, 1);
        --layer-hover-01: hsla(0, 0%, 91%, 1);
        --layer-hover-02: hsla(0, 0%, 91%, 1);
        --layer-hover-03: hsla(0, 0%, 91%, 1);
        --layer-selected-01: hsla(0, 0%, 88%, 1);
        --layer-selected-02: hsla(0, 0%, 88%, 1);
        --layer-selected-03: hsla(0, 0%, 88%, 1);
        --layer-selected-disabled: hsla(0, 0%, 55%, 1);
        --layer-selected-hover-01: hsla(0, 0%, 82%, 1);
        --layer-selected-hover-02: hsla(0, 0%, 82%, 1);
        --layer-selected-hover-03: hsla(0, 0%, 82%, 1);
        --layer-selected-inverse: hsla(0, 0%, 9%, 1);
        --link-inverse: hsla(218, 100%, 74%, 1);
        --link-inverse-active: hsla(0, 0%, 96%, 1);
        --link-inverse-hover: hsla(217, 100%, 83%, 1);
        --link-primary: hsla(219, 99%, 53%, 1);
        --link-primary-hover: hsla(220, 100%, 40%, 1);
        --link-secondary: hsla(220, 100%, 40%, 1);
        --link-visited: hsla(264, 97%, 62%, 1);
        --overlay: rgba(22, 22, 22, 0.5);
        --shadow: rgba(0, 0, 0, 0.3);
        --skeleton-background: hsla(0, 0%, 91%, 1);
        --skeleton-element: hsla(0, 0%, 78%, 1);
        --support-caution-major: hsla(25, 100%, 58%, 1);
        --support-caution-minor: hsla(47, 88%, 53%, 1);
        --support-caution-undefined: hsla(264, 97%, 62%, 1);
        --support-error: hsla(357, 76%, 49%, 1);
        --support-error-inverse: hsla(357, 95%, 64%, 1);
        --support-info: hsla(220, 100%, 40%, 1);
        --support-info-inverse: hsla(218, 100%, 64%, 1);
        --support-success: hsla(137, 63%, 39%, 1);
        --support-success-inverse: hsla(137, 49%, 50%, 1);
        --support-warning: hsla(47, 88%, 53%, 1);
        --support-warning-inverse: hsla(47, 88%, 53%, 1);
        --text-disabled: rgba(22, 22, 22, 0.25);
        --text-error: hsla(357, 76%, 49%, 1);
        --text-helper: hsla(0, 0%, 44%, 1);
        --text-inverse: hsla(0, 0%, 100%, 1);
        --text-on-color: hsla(0, 0%, 100%, 1);
        --text-on-color-disabled: hsla(0, 0%, 55%, 1);
        --text-placeholder: rgba(22, 22, 22, 0.4);
        --text-primary: hsla(0, 0%, 9%, 1);
        --text-secondary: hsla(0, 0%, 32%, 1);
        --toggle-off: hsla(0, 0%, 55%, 1);
    }
}
